.vscode/settings.json
07_lesson/conftest.py
07_lesson/__pycache__/conftest.cpython-314-pytest-9.1.1.pyc
07_lesson/pages/calculator_page.py
07_lesson/pages/cart_page.py
07_lesson/pages/checkout_page.py
07_lesson/pages/inventory_page.py
07_lesson/pages/login_page.py
07_lesson/pages/__pycache__/calculator_page.cpython-314.pyc
07_lesson/pages/__pycache__/cart_page.cpython-314.pyc
07_lesson/pages/__pycache__/checkout_page.cpython-314.pyc
07_lesson/pages/__pycache__/inventory_page.cpython-314.pyc
07_lesson/pages/__pycache__/login_page.cpython-314.pyc
07_lesson/tests/test_calculator.py
07_lesson/tests/test_shop.py
07_lesson/tests/__pycache__/test_calculator.cpython-314-pytest-9.0.3.pyc
07_lesson/tests/__pycache__/test_calculator.cpython-314-pytest-9.1.1.pyc
07_lesson/tests/__pycache__/test_shop.cpython-314-pytest-9.0.3.pyc
07_lesson/tests/__pycache__/test_shop.cpython-314-pytest-9.1.1.pyc
09_lesson/test_db_client.py
09_lesson/__pycache__/test_db_client.cpython-314-pytest-9.1.1.pyc
