__pycache__/
*.pyc
08_lesson/__pycache__/_config.python-314.pyc
08_lesson/__pycache__/_config.python-314_pytest-9.0.3.pyc
08_lesson/__pycache__/_test_projects.python-314_pytest-9.0.3.pyc
09_lesson/__pycache__/_db_client.python-314.pyc
09_lesson/__pycache__/_test_db_client.python-314_pytest-9.1.1.pyc
09_lesson/__pycache__/_test_subjects.python-314_pytest-9.1.1.pyc